body {
    background-color: #C06A3A;
}
h1 {
    text-align: center;
    text-decoration: italic;
}
hr {
    margin-left: 300px;
    margin-right: 300px;
}
h2 {
    margin-left: 200px;
    text-decoration: bold;
}    
section {
    border: solid;
    border-width: 2px;
    padding: 0px;
    margin-left: 160px;
}
#longer {
    margin-left: 200px;
}
#short {
    margin-left: 200px;
}
